<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-BR">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="style/style.css" rel="stylesheet"/>
    <title>Detalhe Evento</title>
</head>

<body>
    <header>
		<nav>
			<div class="nav-wrapper">
			  <a href="#" class="brand-logo right">Evento</a>
			  <ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="/eventos" class="waves-effect waves-light btn"><i
                    class="material-icons left">format_align_justify</i>Listar Eventos</a></li>
				
			  </ul>
			</div>
		  </nav>
				
	</header>
    <h1></h1>
    

    <div th:each="evento : ${evento}" class="container">
        <div h:each="evento : ${evento}" class=" row detalhesEvento">
             <h5>Detalhes do Evento</h5>
            <p>
                Nome : <span th:text="${evento.nome}"></span>
            </p>
            <p>
                Local : <span th:text="${evento.local}"></span>
            </p>
            <p>
                Data : <span th:text="${evento.data}"></span>
            </p>
            <p>
                Horário : <span th:text="${evento.horario}"></span>
            </p>
        </div>

        <th:block th:include="mensagemValidacao"></th:block>

        <div class="row ">
            <form method="post" class=" col s12 formConvidado">
                <div class="row">

                    <div class="input-field col s12">
                        <label for="nomeConvidado">Nome do Convidado</label>
                        <input id="nomeConvidado" type="text" class="validate" value="" name="nomeConvidado">
                    </div>



                    <div class="input-field col s12">
                        <label for="rg">RG do Convidado</label>
                        <input type="text" class="validate" value="" name="rg" />
                    </div>

                    <div class="input-field col s12">
                        <button class="waves-effect waves-light btn" type="submit">Adicionar Convidado</button>
                    </div>

                </div>
            </form>
        </div>


    </div>
    <div class="container">
        
        <table class="responsive-table tab">
            <thead>
                <tr>
                    <th>Nome do Convidado</th>
                    <th>RG</th>
                    <th>Deletar</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="convidado : ${convidados}">

                    <td><span th:text=${convidado.nomeConvidado}> </span></td>
                    <td><span th:text=${convidado.rg}> </span></td>
                    <td>
                        <a class=" btn-floating btn-large waves-effect waves-light red" th:href="${(#mvc.url('EC#deletarConvidado').arg(0,convidado.rg)).build()}" ><i
                       class="material-icons left">delete</i></a></td>

                </tr>
            </tbody>
        </table>
    </div>


</body>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</html>